/* Adapted from "Example 4" from Colorbox bundled styles by TSmith */

/*
ColorBox Core Style:
The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
  User Style:
  Change the following styles to modify the appearance of ColorBox.  They are
  ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{
  background:#000;
}

#colorbox{
  border-radius: 5px;
  background: #fff;
  -moz-box-shadow: 0px 0px 20px #000000;
  -webkit-box-shadow: 0px 0px 20px #000000;
  box-shadow: 0px 0px 20px #000000;

}

#cboxTopLeft, #cboxTopRight, #cboxBottomLeft {
  width:10px;
  height:10px;
}

#cboxTopCenter, #cboxBottomCenter, #cboxBottomRight {
  height:10px;
}

#cboxMiddleLeft, #cboxMiddleRight {
  width:10px;
}

#cboxPrevious, #cboxNext, #cboxClose                   { color:#bf1e2e; }
#cboxPrevious:hover, #cboxNext:hover, #cboxClose:hover { color:#333333; }

#cboxContent{background:#fff; overflow:hidden;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:25px;}
#cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#666;}
#cboxCurrent{position:absolute; bottom:0px; left:60px; color:#CCC;}
#cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
#cboxPrevious{position:absolute; bottom:0px; left:0; }
#cboxNext{position:absolute; bottom:0px; left:30px; }
#cboxLoadingOverlay{background:#fff url(images/loading.gif) no-repeat 5px 5px;}
#cboxClose{position:absolute; bottom:0; right:0; display:block; }
