/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 724px) {

  body, #container { background: none; }
  
  html.multiplebgs body {
    background: white url('../gfx/body_bg.gif') top left repeat;
  }

  #main, #sidebar {
    float: none;
    position: static;
    padding: 15px;
    margin: 0;
    max-width: 100%;
    width: auto;
  }

  #sidebar {
    background: black;
    
    h1 {
      float: left;
      margin: 0 15px 0 0;
      max-width: 25%;
      background-size: contain;
    }

    nav {
      /* To keep the nav stacking vertically instead of wrapping
       * around the logo */
      overflow: hidden; 

      ul {
        a {
          float: left;
          padding: 10px 15px;
        }

        li.current-page-item, li.current_page_item {
          background: none;
          a { color: $red; }
        }
      }
    }
  }

  #main {
    #hello, #portrait { max-width: 50%; }
    #hello { background-size: contain; }
    #portrait img { @include responsive; }
  }
}