@import 'normalize', 'helpers'; /* Various extendables */

$red: #bf1e2e;

html, button, input, select, textarea {
  color: #222;
}

html {
  background: {
    color: white;
    image: url('../gfx/body_bg.gif');
    position: top left;
    repeat: repeat;
  };

  height: 100%;
  min-height: 100%;

  &.multiplebgs {
    background: none;
    height: auto;
    min-height: none;
  }
}

body {
  background: {
    image: url('../gfx/container_bg.gif');
    position: top left;
    repeat: repeat-y;
  };

  height: 100%;
  min-height: 100%;

  html.multiplebgs & {
    background:
      url('../gfx/container_bg.gif') top left repeat-y,
      url('../gfx/body_bg.gif') top left repeat,
      white;

    height: auto;
    min-height: none;
  }

  font-size: 1em;
  line-height: 1.4;
  color: black;
}

a {
  color: $red;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

::-moz-selection, ::selection {
  background: $red;
  color: white;
  text-shadow: none;
}

#container {
  @extend .clearfix;
}

#sidebar {
  @extend .clearfix;
  float: left;
  width: 225px;
  padding-bottom: 25px;

  color: white;

  h1 {
    @extend .ir;

    width: 130px;
    height: 130px;
    margin: 50px auto;

    background: {
      image: url('../gfx/logo.gif');
      position: center center;
      repeat: no-repeat;
    }
  }

  nav ul {
    @extend .listreset;
    a {
      display: block;
      padding: 10px 25px;
      color: white;
      font-variant: small-caps;

      &:hover {
        color: $red;
        text-decoration: none;
      }
    }
    li.current-page-item, li.current_page_item {
      background: {
        image: url('../gfx/nav_arrow.gif');
        position: right center;
        repeat: no-repeat;
      }
    }
  }
}

#main {
  overflow: hidden;
  margin: 100px 0 50px 0;
  padding: 25px;
  max-width: (500px - 25*2);

  background-color: white;
  background-color: rgba(255,255,255,0.75);
}

header {
  @extend .clearfix;
  #hello {
    @extend .ir;
    float: left;
    width: 211px;
    height: 153px;
    background: {
      color: transparent;
      image: url('../gfx/hello.png');
      position: center center;
      repeat: no-repeat;
      size: 100%;
    }
  }

  #portrait {
    float: right;
    width: 201px;
    height: 200px;
    background: {
      color: transparent;
      image: url('../gfx/portrait.png');
      position: center center;
      repeat: no-repeat;
      size: 100%;
    }
  }
}

/* Some minor style adjustments for the contact form */
.wpcf7-response-output { border-radius: 10px; }
input, textarea, button {
  max-width: 100%;

  background: $red;
  color: white;

  border: 1px solid darken($red, 25%);
  padding: 5px;

  -moz-box-shadow:    inset 2px 2px 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: inset 2px 2px 10px rgba(0,0,0,0.6);
  box-shadow:         inset 2px 2px 10px rgba(0,0,0,0.6);

  &[type="submit"], &[type="button"], .wpcf7-submit {
    padding: 5px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

}


@import 'wp', 'gallery', 'media', 'print';